In [14]:
# Import Data manipulation Libraries
import numpy as np
import pandas as pd

# Import Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')

# Import Logging files 
import logging 
logging.basicConfig(level= logging.INFO,
                    filemode= 'w',
                    filename= 'model.log',
                    format= '%(asctime)s - %(levelname)s -  %(message)s', force = True)

In [4]:
# Data Input Using Pandas function 

url = 'https://raw.githubusercontent.com/adnansayyedd/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv' 

df = pd.read_csv(url,sep = ';') 

df.sample(frac = 1) #shuffle dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
44639,29,blue-collar,married,secondary,no,3310,no,no,cellular,1,sep,367,1,91,4,failure,no
14227,39,management,married,secondary,no,-810,no,yes,cellular,14,jul,77,2,-1,0,unknown,no
40876,57,admin.,single,secondary,no,2223,no,no,cellular,12,aug,1064,1,-1,0,unknown,yes
12061,41,entrepreneur,married,tertiary,no,306,yes,no,unknown,20,jun,102,3,-1,0,unknown,no
8602,44,blue-collar,married,primary,no,1066,yes,no,unknown,3,jun,25,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37659,38,management,single,tertiary,no,-119,yes,no,cellular,14,may,185,1,-1,0,unknown,no
35870,26,admin.,single,secondary,no,0,yes,no,cellular,8,may,339,1,66,3,other,no
39802,56,management,married,tertiary,no,1407,no,no,cellular,1,jun,388,1,-1,0,unknown,no
283,58,blue-collar,married,primary,no,76,yes,no,unknown,5,may,156,2,-1,0,unknown,no
30366,40,blue-collar,married,secondary,no,632,no,no,cellular,5,feb,611,2,-1,0,unknown,no

In [13]:
df.shape,df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

((45211, 17), None)

In [15]:
logging.info('Dataset Uploaded Succesfully...')